.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/webpack.config.json
**/tslint.json
**/*.map
**/*.ts
*.vsix
3rdparty/**
assets/devkit/*
scripts/**
.vscode
node_modules
out/
src/
tsconfig.json
webpack.config.js

